NEXTAUTH_URL=https://ginopizzas.com
NEXTAUTH_SECRET=replace-with-random-secret-32-chars

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# Swappable for APIblaze proxy URL later
RESIRESI_API_URL=https://backend.resiresi.com
RESIRESI_API_KEY=rsrsi_live_85B9RE.jTtn3QKe3HrmjvhSO6h3_hb6a86XM86y37JC8Hz_FoE
RESIRESI_RESTAURANT_ID=35aa1cee-b5ee-4f3e-ba41-17755d0ae1fe
