NEXTAUTH_URL=https://ninopizzas.com
NEXTAUTH_SECRET=replace-with-random-secret-32-chars

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

RESIRESI_API_URL=https://backend.resiresi.com
RESIRESI_API_KEY=rsrsi_live_9REJ9K.59ALH-0ezfzUagRUr_GyK__wcT4V903BjmaGk3Hf7X4
RESIRESI_RESTAURANT_ID=143a4d37-e428-4962-b7eb-0f917ff00073
