openapi: "3.1.0"
info:
  title: ResiResi Restaurant Reservation API
  version: "1.0.0"
  description: |
    Backend reservation API for the ResiResi platform. Used as the APIblaze proxy reference origin.
    Authenticate with either `Authorization: Bearer <key>` or `x-api-key: <key>`.

servers:
  - url: https://backend.resiresi.com/v1
    description: Production
  - url: http://localhost:8080/v1
    description: Local development

security:
  - ApiKeyAuth: []
  - BearerAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id]
          properties:
            code:
              type: string
              example: not_found
            message:
              type: string
              example: Restaurant not found.
            request_id:
              type: string
              format: uuid
            details:
              type: object
              description: Zod flatten() output on validation errors

    OpenHour:
      type: object
      required: [day_of_week, open, close]
      properties:
        day_of_week:
          type: integer
          minimum: 0
          maximum: 6
          description: "0=Sunday … 6=Saturday"
        open:
          type: string
          pattern: '^\d{2}:\d{2}$'
          example: "11:00"
        close:
          type: string
          pattern: '^\d{2}:\d{2}$'
          example: "22:00"

    Restaurant:
      type: object
      required: [id, slug, name, timezone, open_hours, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
          example: le-bernardin
        name:
          type: string
          example: Le Bernardin
        timezone:
          type: string
          example: America/New_York
        open_hours:
          type: array
          items:
            $ref: '#/components/schemas/OpenHour'
        address:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Table:
      type: object
      required: [id, restaurant_id, label, capacity, active]
      properties:
        id:
          type: string
          format: uuid
        restaurant_id:
          type: string
          format: uuid
        label:
          type: string
          example: B1
        capacity:
          type: integer
          minimum: 1
        active:
          type: boolean

    ReservationStatus:
      type: string
      enum: [pending, confirmed, seated, completed, cancelled, no_show]

    Reservation:
      type: object
      required: [id, restaurant_id, diner_name, party_size, starts_at, ends_at, status, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        restaurant_id:
          type: string
          format: uuid
        table_id:
          type: string
          format: uuid
          nullable: true
        diner_user_id:
          type: string
          format: uuid
          nullable: true
        diner_name:
          type: string
        diner_email:
          type: string
          format: email
          nullable: true
        diner_phone:
          type: string
          nullable: true
        party_size:
          type: integer
          minimum: 1
          maximum: 50
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/ReservationStatus'
        notes:
          type: string
          nullable: true
        idempotency_key:
          type: string
          nullable: true
        created_by_key_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ApiKey:
      type: object
      required: [id, name, prefix, role, created_at]
      properties:
        id:
          type: string
          format: uuid
        restaurant_id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        prefix:
          type: string
          example: rsrsi_live_A7K2XQ
        role:
          type: string
          enum: [platform, owner, manager, host, diner_app]
        created_by:
          type: string
          format: uuid
          nullable: true
        last_used_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        revoked_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    ApiKeyCreated:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          required: [plaintext]
          properties:
            plaintext:
              type: string
              description: Full API key string — shown once only
              example: "rsrsi_live_A7K2XQ.Zk9s..."

    PageInfo:
      type: object
      properties:
        next_cursor:
          type: string
          nullable: true
          description: base64url cursor to pass as ?cursor= for the next page
        limit:
          type: integer

    RestaurantList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Restaurant'

    TableList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Table'

    ReservationList:
      type: object
      required: [data, page]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
        page:
          $ref: '#/components/schemas/PageInfo'

    ApiKeyList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApiKey'

paths:
  /healthz:
    get:
      operationId: healthCheck
      summary: Health check
      security: []
      tags: [System]
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  db:
                    type: string
                    example: ok
        "503":
          description: DB unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /openapi.yaml:
    get:
      operationId: getOpenApiSpec
      summary: OpenAPI spec (YAML)
      security: []
      tags: [System]
      responses:
        "200":
          description: OpenAPI YAML
          content:
            application/yaml:
              schema:
                type: string

  /docs:
    get:
      operationId: getSwaggerUi
      summary: Swagger UI
      security: []
      tags: [System]
      responses:
        "200":
          description: HTML page

  /restaurants:
    get:
      operationId: listRestaurants
      summary: List restaurants
      tags: [Restaurants]
      responses:
        "200":
          description: List of restaurants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestaurantList'
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      operationId: createRestaurant
      summary: Create restaurant (platform only)
      tags: [Restaurants]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug, name]
              properties:
                slug:
                  type: string
                  pattern: '^[a-z0-9-]+$'
                name:
                  type: string
                timezone:
                  type: string
                  default: America/Detroit
                open_hours:
                  type: array
                  items:
                    $ref: '#/components/schemas/OpenHour'
                address:
                  type: string
                phone:
                  type: string
      responses:
        "201":
          description: Restaurant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden — requires platform key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Slug already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /restaurants/{restaurantId}:
    parameters:
      - name: restaurantId
        in: path
        required: true
        schema:
          type: string

    get:
      operationId: getRestaurant
      summary: Get restaurant by ID or slug
      tags: [Restaurants]
      responses:
        "200":
          description: Restaurant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      operationId: updateRestaurant
      summary: Update restaurant (owner/manager)
      tags: [Restaurants]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                timezone:
                  type: string
                open_hours:
                  type: array
                  items:
                    $ref: '#/components/schemas/OpenHour'
                address:
                  type: string
                phone:
                  type: string
      responses:
        "200":
          description: Updated restaurant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /restaurants/{restaurantId}/tables:
    parameters:
      - name: restaurantId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      operationId: listTables
      summary: List tables
      tags: [Tables]
      responses:
        "200":
          description: Tables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableList'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      operationId: createTable
      summary: Create table (owner/manager)
      tags: [Tables]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label, capacity]
              properties:
                label:
                  type: string
                capacity:
                  type: integer
                  minimum: 1
                active:
                  type: boolean
                  default: true
      responses:
        "201":
          description: Table created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Table'
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Table label already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /restaurants/{restaurantId}/tables/{tableId}:
    parameters:
      - name: restaurantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: tableId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    patch:
      operationId: updateTable
      summary: Update table (owner/manager)
      tags: [Tables]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                capacity:
                  type: integer
                  minimum: 1
                active:
                  type: boolean
      responses:
        "200":
          description: Updated table
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Table'
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Table label conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      operationId: deleteTable
      summary: Delete table (owner/manager)
      tags: [Tables]
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /restaurants/{restaurantId}/reservations:
    parameters:
      - name: restaurantId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    post:
      operationId: createReservation
      summary: Create reservation
      tags: [Reservations]
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
          description: Idempotency key — safe to retry with same key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [diner_name, party_size, starts_at]
              properties:
                table_id:
                  type: string
                  format: uuid
                diner_user_id:
                  type: string
                  format: uuid
                diner_name:
                  type: string
                diner_email:
                  type: string
                  format: email
                diner_phone:
                  type: string
                party_size:
                  type: integer
                  minimum: 1
                  maximum: 50
                starts_at:
                  type: string
                  format: date-time
                ends_at:
                  type: string
                  format: date-time
                duration_minutes:
                  type: integer
                  minimum: 1
                  default: 90
                status:
                  $ref: '#/components/schemas/ReservationStatus'
                notes:
                  type: string
      responses:
        "201":
          description: Reservation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        "200":
          description: Idempotency replay — reservation already exists
          headers:
            Idempotent-Replay:
              schema:
                type: string
                enum: ["true"]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        "400":
          description: Validation or semantic error (table_too_small, invalid_times)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Table conflict (double-booking)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      operationId: listReservations
      summary: List reservations
      tags: [Reservations]
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: status
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ReservationStatus'
          style: form
          explode: true
        - name: diner_email
          in: query
          schema:
            type: string
        - name: table_id
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: cursor
          in: query
          schema:
            type: string
          description: base64url cursor from previous response
      responses:
        "200":
          description: Reservation list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationList'
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /restaurants/{restaurantId}/reservations/{reservationId}:
    parameters:
      - name: restaurantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: reservationId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      operationId: getReservation
      summary: Get reservation
      tags: [Reservations]
      responses:
        "200":
          description: Reservation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      operationId: updateReservation
      summary: Update reservation
      tags: [Reservations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                table_id:
                  type: string
                  format: uuid
                  nullable: true
                diner_name:
                  type: string
                diner_email:
                  type: string
                  format: email
                diner_phone:
                  type: string
                party_size:
                  type: integer
                  minimum: 1
                  maximum: 50
                starts_at:
                  type: string
                  format: date-time
                ends_at:
                  type: string
                  format: date-time
                status:
                  $ref: '#/components/schemas/ReservationStatus'
                notes:
                  type: string
      responses:
        "200":
          description: Updated reservation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Table conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      operationId: cancelReservation
      summary: Cancel reservation (soft delete)
      tags: [Reservations]
      responses:
        "204":
          description: Cancelled
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /restaurants/{restaurantId}/api-keys:
    parameters:
      - name: restaurantId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      operationId: listApiKeys
      summary: List API keys for restaurant (owner only)
      tags: [API Keys]
      responses:
        "200":
          description: API key list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyList'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      operationId: createApiKey
      summary: Create API key for restaurant (owner only) — plaintext returned once
      tags: [API Keys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, role]
              properties:
                name:
                  type: string
                role:
                  type: string
                  enum: [owner, manager, host, diner_app]
                expires_at:
                  type: string
                  format: date-time
      responses:
        "201":
          description: API key created with plaintext
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreated'
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /restaurants/{restaurantId}/api-keys/{keyId}:
    parameters:
      - name: restaurantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: keyId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    delete:
      operationId: revokeApiKey
      summary: Revoke API key (owner only)
      tags: [API Keys]
      responses:
        "204":
          description: Revoked
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /platform/api-keys:
    get:
      operationId: listPlatformApiKeys
      summary: List all API keys (platform only)
      tags: [Platform]
      responses:
        "200":
          description: All API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyList'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      operationId: createPlatformApiKey
      summary: Create platform API key (platform only)
      tags: [Platform]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                expires_at:
                  type: string
                  format: date-time
      responses:
        "201":
          description: Platform key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreated'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /platform/api-keys/{keyId}:
    parameters:
      - name: keyId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    delete:
      operationId: revokePlatformApiKey
      summary: Revoke any API key (platform only)
      tags: [Platform]
      responses:
        "204":
          description: Revoked
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
